<div class="oor-social-buttons">
	<div class="facebook-like">
		<div class="fb-like" data-href="<%=url%>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	</div>
	<div class="google-plus"><%= google_plus_button(size: "medium", href: url, annotation: "bubble") %></div>
	<div class="twitter-tweet"><%= tweet_button(url: url, text: title, count: "horizontal") %></div>
</div>
